.game-page-titles {
  font-family: DanaFaNum-ExtraBold;
  text-align: center;
  color: #f66b0e;
}

main .players-list-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main .players-list-section .add-player-name-container {
  position: relative;
}

main .players-list-section .add-player-name-container input {
  padding: 1em;
  font-weight: 700;
  border-radius: 20px;
  color: #041c32;
  background-color: #e9fff9;
  transition: 0.4s;
}
main .players-list-section .add-player-name-container input:focus {
  box-shadow: inset 0 0 5px #041c32;
}
main .players-list-section .add-player-name-container.check-input input:focus {
  box-shadow: 3px 3px 10px #ff0000, -1px -1px 6px #ff0000, inset 0 0 5px #041c32;
}

main .players-list-section .add-player-name-container button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 4rem;
  font-weight: bold;
  line-height: 1rem;
  color: #e9fff9;
  background-color: #041c32;
  transition: 0.2s;
}
main .players-list-section .add-player-name-container button:active {
  opacity: 0.7;
}

main .players-list-section .players-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 10px #f66b0e, inset 0 0 10px #f66b0e;
  border: 2px solid #f66b0e;
  border-radius: 20px;
}
main .players-list-section .players-list .players-list-item,
main .players-list-section .players-list .empty-item-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eeb902;
  box-shadow: 0 0 5px #eeb902;
  border-radius: inherit;
}
main .players-list-section .players-list .players-list-item img {
  cursor: pointer;
  transition: 0.4s;
}
main .players-list-section .players-list .players-list-item img:hover {
  transform: scale(0.9);
}
main .players-list-section .players-list .players-list-item .players-list-item-text,
main .players-list-section .players-list .empty-item-text p {
  margin: 0 !important;
  font-size: 1.5em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #041c32;
}
main .players-list-section .players-list .empty-item-text p {
  font-size: 1.3em;
}

main .players-list-section .start-game-btn {
  cursor: pointer;
  position: relative;
  padding: 0.5rem 1rem;
  font-family: DanaFaNum-ExtraBold;
  font-size: 2em;
  background-color: #f66b0e;
  color: #041c32;
  box-shadow: 0px 10px 10px #f6a50e inset, 0px 5px 10px #041c32, 0px -10px 10px #eeb902 inset;
  border-radius: 20px;
  transition: 0.4s;
}

main .players-list-section .start-game-btn::before {
  position: absolute;
  content: "";
  top: 5px;
  left: 50%;
  width: 80%;
  height: 2px;
  background-color: #e9d58e;
  filter: blur(1px);
  border-radius: 50%;
  transform: translateX(-50%);
}

main .players-list-section .start-game-btn::after {
  position: absolute;
  content: "";
  bottom: 5px;
  left: 50%;
  width: 80%;
  height: 2px;
  background-color: #f1c42d;
  filter: blur(1px);
  border-radius: 50%;
  transform: translateX(-50%);
}

main .players-list-section .start-game-btn:active {
  transform: scale(0.9);
}

main .select-scenario-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main .select-scenario-section .scenarios-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .select-scenario-section .scenarios-list-container p {
  color: #eeb902;
}
main .select-scenario-section .scenarios-list-container ul {
  list-style: none;
  color: #e9fff9;
}
main .select-scenario-section .scenarios-list-container ul .scenario-name {
  text-align: center;
  margin: 1.5em 0;
}

main .select-scenario-section .scenarios-list-container ul .scenario-name span {
  position: relative;
  cursor: pointer;
  padding: 1em 0;
  text-align: center;
  color: #e9fff9;
  font-size: 1.2em;
  user-select: none;
  opacity: 1;
  transition: 0.4s;
}
main .select-scenario-section .scenarios-list-container ul .scenario-name span::before,
main .select-scenario-section .scenarios-list-container ul .scenario-name span::after {
  position: absolute;
  content: "";
  top: 50%;
  left: -2.5em;
  width: 2em;
  height: 2px;
  border-radius: 50%;
  background-color: #eeb902;
}

main .select-scenario-section .scenarios-list-container ul .scenario-name span::after {
  right: -2.5em;
}

main .select-scenario-section .scenarios-list-container ul .scenario-name span:hover {
  color: #eeb902;
}

main .select-roles-section .roles-list-container .roles-container .role-item span {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.2em;
  font-weight: 700;
  white-space: nowrap;
  line-height: 1.5rem;
  color: #041c32;
  background-color: #e9fff9;
  border-radius: 20px;
  transition: 0.2s;
}
main .select-roles-section .roles-list-container .city-roles-container .role-item span {
  color: #0fb600;
}
main .select-roles-section .roles-list-container .city-roles-container .role-item.active span,
main .select-roles-section .roles-list-container .city-roles-container .role-item span:hover {
  color: #e9fff9;
  background-color: #0fb600;
}

main .select-roles-section .roles-list-container .mafia-roles-container .role-item span {
  color: #ff0000;
}
main .select-roles-section .roles-list-container .mafia-roles-container .role-item.active span,
main .select-roles-section .roles-list-container .mafia-roles-container .role-item span:hover {
  color: #e9fff9;
  background-color: #ff0000;
}

main .select-roles-section .roles-list-container .Independent-roles-container .role-item span {
  color: #eeb902;
}
main .select-roles-section .roles-list-container .Independent-roles-container .role-item.active span,
main .select-roles-section .roles-list-container .Independent-roles-container .role-item span:hover {
  color: #e9fff9;
  background-color: #eeb902;
}

main .select-roles-section .roles-list-container h2 {
  font-family: DanaFaNum-ExtraBold;
  text-align: center;
}

main .select-roles-section .roles-list-container .city-role-title {
  color: #0fb600;
}

main .select-roles-section .roles-list-container .mafia-role-title {
  color: #ff0000;
}

main .select-roles-section .roles-list-container .Independent-role-title {
  color: #eeb902;
}

main .play-role-container .show-player-role-container .show-player-role-item span {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  font-size: 1.3em;
  line-height: 1.5rem;
  font-weight: 700;
  background-color: #e9fff9;
  border-radius: 20px;
  transition: 0.2s;
}
main .play-role-container .show-player-role-container .show-player-role-item span:hover {
  color: #e9fff9;
  background-color: #eeb902;
}

main .play-role-container .show-play-role-card-container {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #041c32;
  transform: translate(-50%, -50%);
}
main .play-role-container .show-play-role-card-container .show-play-role-card {
  position: absolute;
  top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  width: 85%;
  height: 75%;
  background: #041c32;
  border-radius: 20px;
  box-shadow: 0 0 10px #e9fff9;
  border: 3px solid #e9fff9;
  transition: 0.4s;
  overflow: hidden;
}
main .play-role-container .show-play-role-card-container .show-play-role-card .player-role-side {
  font-size: 1.5em;
  font-weight: bold;
  color: #ff0000;
  text-shadow: 0 0 5px #041c32;
  z-index: 1;
}
main .play-role-container .show-play-role-card-container .show-play-role-card .player-role-card-title {
  font-family: DanaFaNum-ExtraBold;
  font-size: 3em;
  color: #f66b0e;
  text-shadow: 0 0 5px #041c32;
  z-index: 1;
}
main .play-role-container .show-play-role-card-container .show-play-role-card .player-role-card-details {
  color: #041c32;
  text-align: justify;
  font-weight: 700;
  z-index: 1;
}
main .play-role-container .show-play-role-card-container .show-play-role-card .close-player-role-card {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 3em;
  transform: translate(50%, -50%);
  z-index: 1;
}

main .play-role-container .show-play-role-card-container .show-play-role-card::before {
  content: "";
  position: absolute;
  top: -20%;
  left: 50%;
  width: 100px;
  height: 130%;
  background-image: linear-gradient(180deg, #f66b0e, #eeb902);
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

main .play-role-container .show-play-role-card-container .show-play-role-card::after {
  content: "";
  position: absolute;
  background: #ffffff6b;
  backdrop-filter: blur(100px);
  box-shadow: inset 0 0 20px #e9fff9;
  inset: 5px;
  border-radius: 15px;
}
